<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AutoBark.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="title" serializeAs="String">
                <value>AutoBark</value>
            </setting>
            <setting name="content" serializeAs="String">
                <value />
            </setting>
            <setting name="boot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hotkey" serializeAs="String">
                <value>Ctrl + Alt + C</value>
            </setting>
            <setting name="hotkeyCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="titleCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contentCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCopyCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoBark.Properties.Settings>
    </userSettings>
</configuration>